/* Fondo del navbar */
.navbar-custom {
  background-color: #19001e;
  padding: 0.8rem 2rem;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
}


/* Título principal */
.navbar-brand {
  font-family: 'Baloo 2', sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  background: linear-gradient(135deg, #ff61a6, #ffcce1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 8px #ffb3d6;
  animation: pulseGlow 2s infinite ease-in-out;
  transition: transform 0.3s ease;
}
@keyframes pulseGlow {
  0%, 100% {
    text-shadow: 0 0 8px #ffb3d6, 0 0 20px #ff61a6;
  }
  50% {
    text-shadow: 0 0 16px #ffcce1, 0 0 24px #ff61a6;
  }
}
.navbar-brand:hover {
    transform: scale(1.05);
}

/* Enlaces */
.navbar-nav .nav-link {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
  margin: 0 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 25px;
  color: #fff !important;
  background: rgba(255, 255, 255, 0.07);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
}

.navbar-nav .nav-link:hover {
  background: linear-gradient(to right, #5fcdff, #a0e7e5);
  color: #19001e !important;
}